<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Comedians</title>
</head>
<body>
  <h1>Comedians</h1>
  <% @comedians.each do |comedian| %>
  <ul>
    <li><a href='/comedians/<%= comedian.id %>'>Name: <%= comedian.name %></a></li>
    <li>Age: <%= comedian.age %></li>
    <h1>Specials</h1>
    <p>Number of Specials: <%= comedian.specials_count %></p>
    <% comedian.specials.each do |special| %>
    <ul>
      <li><a href='/comedians/<%= special.id %>'>Name: <%= special.name %></a></li>
    </ul>
    <% end %>
  </ul>
  <% end %>
  <h2>Comedian Average Age</h2>
  <li>Average Age:<%= @comedians.average_age %></li>
</body>
</html>
