<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Comedians</title>
</head>
<body>
  <h1>Comedians</h1>
  <% @comedians.each do |comedian| %>
  <ul>
    <li><a href='/comedians/<%= comedian.id %>'><%= comedian.name %></a></li>
    <li><%= comedian.age %></li>
  </ul>
  <% end %>
  <h1>Specials</h1>
  <% @specials.each do |special| %>
  <ul>
    <li><a href='/comedians/<%= special.id %>'><%= special.name %></a></li>
  </ul>
  <% end %>
  <h2>Comedian Average Age</h2>
  <li><%= @comedians.average_age %></li>
</body>
</html>
